<div class="details_page" fxLayout="row" [ngClass]="screenSize">
  <div class="details_left">
    <mat-icon class="arrow_back-details-page" (click)="back()">arrow_backward</mat-icon>
  </div>
  <div class="details_right">
    <div class="details_article">
      <h1>{{this.article?.title }}</h1>
      <div class="details_content-subtitle" fxLayout="row">
        <p>{{this.article?.date | date : 'mediumDate'}}</p>
        <p>{{this.article?.authorName}}</p>
        <p>{{this.article?.SubjectName}}</p>
      </div>
      <p>{{this.article?.content}}</p>
    </div>
    <hr>
    <div class="details_comment">
      <h2>Commentaires</h2>
      <div class="comments" fxLayout="row" fxLayoutAlign="center" *ngFor="let comment of articleComments | async">
        <p>{{comment.username}}</p>
        <div class="comment_content">
          <p>{{comment.content}}</p>
        </div>
      </div>
    </div>
    <div class="post-comment" fxLayout="row" fxLayoutAlign="center center">
      <form [formGroup]="form" class="form-container" (ngSubmit)="postComment()">
        <textarea formControlName="content"></textarea>
      </form>
      <i class="fa-regular fa-paper-plane fa-3x icon_button" style="color: #7763C5; margin-left: 25px; cursor: pointer"
         (click)="postComment()"></i>
    </div>
    <span *ngIf="errorMessage" class="error-message" fxLayoutAlign="center center"
          style="margin-top: 20px">{{ errorMessage }}</span>
  </div>
</div>
