<div class="listArticles" fxLayout="column">
    <div class="articles_items" fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="article_header" fxLayout="row">
      <button routerLink="create">
        <span>Créer un article</span>
      </button>
    <div class="article_header-filter">
      <span>Trier par</span>
      <i class="fa-solid fa-arrow-down fa-xl"></i>
    </div>
  </div>
      <div class="article"  fxLayoutAlign="space-betwen" *ngFor="let article of (articles$ | async)" (click)="navigateToDetail(article.id)">
        <div class="article_details">
          <h1>{{ article.title }}</h1>
          <div class="article_details-subtitles">
            <span>{{ article.createdAt | date: 'mediumDate' }}</span>
            <span>{{ article.authorName }}</span>
          </div>
          <p>{{ article.content }}</p>
        </div>
      </div>
    </div>
</div>

