.me_component {
  height: 100%;
  margin-top: 55px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}

input {
  width: 290px;
  border: 2px solid #7763C5;
}

button {
  width: 139px;
  font-size: 16px;
  font-weight: 700;
  border-color: #7763C5;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  color: red;
  cursor: pointer;
}

h4 {
  font-size: 20px;
  font-family: Calibri;
  margin-top: 10px;

}

hr {
  width: 90%;
  height: 1px;
  background-color: black;
}

p {
  height: 35%;
}

.subscriptions_me {
  margin-top: 45px;
  width: 100%;
}
