.center {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.home_button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 377px;
  height: 40px;
}

.home img {
  width: 412px;
  height: 238px;
  top: 286px;
  left: 411px;
  height: auto;
}

.home_button button {
  border-radius: 8px;
  width: 140px;
  height: 40px;
  border: 1px solid black;
}
